#header {
    background-color: rgb(12, 10, 44);
    color: black;
    line-height: 6vh;
    height: 6vh;
    text-align: right;
    padding: 1vh;
}

.button1 {
    vertical-align: middle;
    background-color: #4CAF50;
    border: 0.3vh solid white;
    color: white;
    padding: 0.3vh 1vh;
    border-radius: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
}

.button1:hover {
    background-color: darkgreen;
}