#nav {
    float: left;
    text-align: left;
    line-height: 3vh;
    background-color: slategray;
    color: black;
    height: 80vh;
    width: 16vw;
    padding: 1vh;
}

.button2 {
    margin: auto;
    width: 16vw;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.3vh 1vh;
    border-radius: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.2vh;
}

.button2:hover {
    background-color: darkgreen;
}

.button3 {
    background-color: slategray;
    border: none;
    width: 16vw;
    color: white;
    padding: 0.3vh 1vh;
    border-radius: 0vh;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 2.4vh;
}

.button3:hover {
    background-color: darkslategray;
}