* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clear {
    zoom: 1;
}


/*****************header*******************/

.bg_header {
    height: 80px;
    background: rgb(50, 50, 50);
}

.bg_header .header {
    width: 1200px;
    height: 80px;
    margin: 0px 50px;
}

.bg_header .header .logo {
    width: 220px;
    height: 80px;
    float: left;
    overflow: hidden;
    background-color: rgb(50, 50, 50);
}

.bg_header .header .logo img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
}

.bg_header .header .nav {
    position: relative;
    width: 540px;
    height: 80px;
    top: 0px;
    left: 450px;
    float: left;
}

.bg_header .header .nav ul li {
    width: 135px;
    height: 80px;
    float: left;
    text-align: center;
    line-height: 80px;
    font-size: 15px;
    background-color: #814949;
}

.bg_header .header .nav ul li a {
    display: block;
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.bg_header .header .nav ul li a:hover {
    background-color: #fff;
    color: rgb(50, 50, 50);
    font-weight: bold;
}


/*****************intro*******************/

.bg_intro {
    height: 550px;
    background: #d3d2d2e0;
    border-top: 1px solid #a6a7ab;
    /* background-color: antiquewhite;*/
}

.bg_intro .intro {
    position: relative;
    top: -10px;
    width: 1000px;
    height: 530px;
    background: #d3d2d2e0;
    /*background-color: rgb(192, 192, 243);*/
    margin: 0 auto;
}

.bg_intro .intro .col {
    position: relative;
    width: 600px;
    height: 400px;
    left: 200px;
    top: 60px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    display: block;
    width: 300px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 20px auto;
    text-transform: capitalize;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'roboto', sans-serif;
}

 ::placeholder {
    color: rgba(50, 50, 50, 0.6);
}

.submit-btn {
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #383838;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    display: block;
    margin: 30px, 0px;
}


/* checkbox styles */

.bg_intro .intro .col .check {
    width: 500px;
    height: 125px;
    position: relative;
    left: 150px;
    /*background-color: aquamarine;*/
}

.checkbox {
    -webkit-appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #383838;
    cursor: pointer;
}

.checkbox:checked {
    background: #383838;
}

.checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url(../img/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.checkbox:checked::after {
    display: block;
}

label {
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #383838;
}

label a {
    color: #1e2f92;
    font-weight: bold;
}

.link {
    color: #1e2f92;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    display: block;
    font-size: 14px;
}


/*****************footer*******************/

.bg_footer {
    height: 50px;
    background: #383838;
}

.bg_footer .footer {
    width: 1000px;
    height: 50px;
    background: #383838;
    margin: 0 auto;
}

.bg_footer .footer p {
    position: relative;
    top: 15px;
    font-size: 14px;
    color: rgb(154, 154, 154);
    margin: 0 auto;
}