* {
                                margin: 0;
                                padding: 0;
                            }
                            
                            li {
                                list-style: none;
                            }
                            
                            a {
                                text-decoration: none;
                            }
                            
                            html,
                            body {
                                width: 100%;
                                height: 100%;
                                background-color: rgb(237, 253, 253);
                            }
                            
                            .clear:after {
                                content: "";
                                display: block;
                                clear: both;
                                height: 0;
                                overflow: hidden;
                                visibility: hidden;
                            }
                            
                            .clear {
                                zoom: 1;
                            }
                            /*****************header*******************/
                            
                            .bg_header {
                                height: 80px;
                                background: rgb(50, 50, 50);
                            }
                            
                            .bg_header .header {
                                width: 1200px;
                                height: 80px;
                                margin: 0px 50px;
                            }
                            
                            .bg_header .header .logo {
                                width: 230px;
                                height: 80px;
                                float: left;
                                overflow: hidden;
                                background-color: rgb(50, 50, 50);
                            }
                            
                            .bg_header .header .logo img {
                                width: 100%;
                                height: 100%;
                                margin-top: 0px;
                            }
                            
                            .bg_header .header .nav {
                                position: fixed;
                                width: 540px;
                                height: 80px;
                                top: 0px;
                                right: 0px;
                                float: left;
                            }
                            
                            .bg_header .header .nav ul li {
                                width: 135px;
                                height: 80px;
                                float: left;
                                text-align: center;
                                line-height: 80px;
                                font-size: 15px;
                                /*background-color: #814949;*/
                            }
                            
                            .bg_header .header .nav ul li a {
                                display: block;
                                background-color: rgb(50, 50, 50);
                                color: rgb(255, 255, 255);
                                text-decoration: none;
                            }
                            
                            .bg_header .header .nav ul li a:hover {
                                background-color: #fff;
                                color: rgb(50, 50, 50);
                                font-weight: bold;
                            }
                            /*****************intro*******************/
                            
                            .bg_intro {
                                width: 100%;
                                height: 100%;
                            }
                            
                            .bg_intro .intro {
                                position: absolute;
                                margin: auto;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                width: 85%;
                                height: 75%;
                                /*background: #e2c4c4e0;*/
                            }
                            
                            .bg_intro .intro .col {
                                position: absolute;
                                margin: auto;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                width: 60%;
                                height: 90%;
                                /*background-color: aquamarine;*/
                            }
                            
                            input[type="text"],
                            input[type="password"],
                            input[type="email"],
                            textarea {
                                display: block;
                                width: 300px;
                                height: 20px;
                                padding: 12px;
                                border-radius: 5px;
                                background: #fff;
                                border: none;
                                outline: none;
                                margin: 20px auto;
                                text-transform: capitalize;
                                color: #383838;
                                font-size: 14px;
                                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
                                font-family: 'roboto', sans-serif;
                            }
                            
                             ::placeholder {
                                color: rgba(46, 31, 31, 0.6);
                            }
                            
                            .bg_intro .intro .col .check {
                                position: absolute;
                                margin: auto;
                                left: 0;
                                right: 0;
                                width: 320px;
                                height: 40%;
                                /*background-color: rgba(155, 223, 66, 0.315);*/
                            }
                            
                            .checkbox {
                                -webkit-appearance: none;
                                position: relative;
                                width: 15px;
                                height: 15px;
                                border-radius: 2px;
                                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
                                background: #fff;
                                border: 1px solid #383838;
                                cursor: pointer;
                            }
                            
                            .checkbox:checked {
                                background: #383838;
                            }
                            
                            .checkbox::after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                height: 100%;
                                pointer-events: none;
                                background-image: url(../img/check.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                display: none;
                            }
                            
                            .checkbox:checked::after {
                                display: block;
                            }
                            
                            .submit-btn {
                                width: 300px;
                                height: 40px;
                                line-height: 40px;
                                margin: auto;
                                background: #383838;
                                color: #fff;
                                font-weight: bold;
                                border-radius: 5px;
                                text-transform: capitalize;
                                border: none;
                                cursor: pointer;
                                display: block;
                                margin: 30px, 0px;
                            }
                            
                            label {
                                text-transform: capitalize;
                                margin-bottom: 10px;
                                font-size: 14px;
                                position: absolute;
                                color: #383838;
                                display: inline-block;
                            }
                            
                            label a {
                                color: #1e2f92;
                                font-weight: bold;
                            }
                            
                            .link {
                                text-align: center;
                                color: #1e2f92;
                                font-weight: bold;
                                text-transform: capitalize;
                                display: block;
                                font-size: 14px;
                            }
                            /*****************footer*******************/
                            
                            .bg_footer {
                                position: fixed;
                                bottom: 0px;
                                left: 0px;
                                width: 100%;
                                height: 50px;
                                background: #383838;
                            }
                            
                            .bg_footer .footer {
                                bottom: 0px;
                                left: auto;
                                width: 1000px;
                                height: 50px;
                                background: #383838;
                                margin: 0 auto;
                            }
                            
                            .bg_footer .footer p {
                                position: relative;
                                top: 15px;
                                font-size: 14px;
                                color: rgb(154, 154, 154);
                                margin: 0 auto;
                            }
